{* Bloco de coment‡rio

Vari‡veis dispon’ves neste template:
  - $userName           Nome do usu‡rio
  - $applicationName    Nome do aplicativo
  - $status             Status do novo Token

Utilize: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Ol&aacute;, {{htmlescape var=$userName}}<br /><br />
Sua autoriza&ccedil;&atilde;o para <b>{{htmlescape var=$applicationName}}</b> foi alterada para <b>{{htmlescape var=$status}}</b> pelo Admin.<br /><br />
